[user]
	email = proffapt@pm.me
	name = proffapt
[init]
	defaultBranch = main
[pull]
    rebase = false
[commit]
    verbose = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive
