[user]
	email = proffapt@pm.me
	name = proffapt
	signingkey = /Users/proffapt/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[pull]
    rebase = false
[commit]
    verbose = true
	gpgsign = true
[credential]
	helper = store
[gpg]
	format = ssh
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[http]
	sslBackend = openssl
